@font-face {
  font-family: lexend;
  src: url(./Fonts/Lexend-VariableFont_wght.ttf);
}

body {
  font-family: lexend;
  background-color: #d9ed92;
  color: #184e77;

  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

body ul {
  list-style-type: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  width: 65%;
  margin: auto;
}

.nav-pages {
  padding-left: 0px;
  font-size: 1.625rem;
  display: flex;
}

.nav-pages li {
  margin-right: 1.875rem;
}

.nav-pages li a {
  text-decoration: none;
  color: inherit;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons li {
  margin-left: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main > div:nth-child(1) {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

main section header {
  font-size: 3rem;
}

.container{
  margin-top: 200px;
}

.intro-text {
  width: 65%;
  height: 90vh;
  max-height: 90vh;
  

  margin: auto;
  
  font-size: 3.75rem;
}

.intro-text .intro-title {
  font-size: 4.5rem;
}

.intro-text .intro-subtitle {
  color: #1a759f;
}

.big-square-back {
  position: relative;
  width: 40vh;
  height: 40vh;
  background-color: #184e77;
  translate: 1090px -545px;
  z-index: 10;
}
.big-square {
  position: relative;
  width: 40vh;
  height: 40vh;
  background-color: #1a759f;
  translate: 1050px -200px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 20;
}

.big-square-text {
  color: #e4e4e4;
  font-size: 3.3rem;
  text-transform: uppercase;
  /* width: min-content; */
  text-align: justify;
  hyphens: manual;
}

.small-circle {
  position: relative;
  width: 4vh;
  height: 4vh;
  background-color: #1a759f;
  border-radius: 50%;
  margin-left: 10px;
}

.big-circle-position {
  translate: -250px -750px;
}

.big-circle {
  position: relative;
  margin-bottom: 25px;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.big-circle.first {
  background-color: #168aad;
}

.big-circle.second {
  background-color: #1a759f;
}

.big-circle.third {
  background-color: #1e6091;
}

.small-square {
  background-color: #1a759f;
  position: relative;
  width: 20vh;
  height: 20vh;
  translate: -250px -1550px;
}

.small-square-back {
  background-color: #168aad;
  position: relative;
  width: 20vh;
  height: 20vh;
  translate: -230px -1720px;
}
.arrow-down{
  display: flex;
  justify-content: center;
}

.arrow-down svg{
  display: flex;
  position: relative; 
  width: fit-content;
  animation-duration: 2s;
  animation-name: arrowdown;
  animation-iteration-count: infinite;
}

.arrow-down svg {
  width: 5rem;
  height: 5rem;
  
}

.arrow-down-about svg {
  width: 5rem;
  height: 5rem;
  
}



@keyframes arrowdown {
  0% {
    translate: 0% -1550%;
  }
  50% {
    translate: 0% -1580%;
  }
  100% {
    translate: 0% -1550%;
}
}

.set-background {
  background-color: #99d98c;
}

.about {
  width: 65%;
  margin: auto;
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.about header {
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  width: 65%;
  margin-inline: auto;
}

.about header > div:nth-child(2){
  display: flex;
  margin-top: 30px;
}

.small-circle-about {
  position: relative;
  width: 3vh;
  height: 3vh;
  background-color: #184e77;
  border-radius: 50%;
  margin-left: 10px;
}

.about-row-1{
  display: flex;
  justify-content:space-around;
}

.about-row-1 article{
  width: 50vh;
}

.badge {
  background-color: #184e77;
  color: #b5e48c;
  font-size:1.125rem;
  text-transform: uppercase;

  border-radius: 15px;
  padding: 4px 11px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.arrow-down-about{
  display:flex;
  justify-content: center;
}

.arrow-down-about svg {
  display: flex;
  width: fit-content;
  position: relative; 
  animation-duration: 2s;
  animation-name: arrowdown-about;
  animation-iteration-count: infinite;
  
}

@keyframes arrowdown-about {
  0% {
    translate: 0% 0%;
  }
  50% {
    translate: 0% -30%;
  }
  100% {
    translate: 0% -0%;
}
}

.about-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.format-badges + div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects header {
  display: flex;
  justify-content: left;
  width: 65%;
  margin: auto;
  margin-bottom: 55px;
}

.projects article {
  display: flex;
  width: 65%;
  margin: auto;
  margin-bottom: 85px;
}

.project-2 {
  /* inverte o 2º projeto*/
  display: flex;
  flex-direction: row-reverse;
}

.mini-badge {
  background-color: #184e77;
  color: #b5e48c;
  font-size: 0.813rem;
  text-transform: uppercase;

  border-radius: 11px;
  padding: 3px 10px;
  margin-right: 7px;
  margin-bottom: 8px;
}

.project-spacing img {
  width: 567px;
  height: 404;
  border-radius: 11px;
}

.project-spacing > div {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-2 > div {
  margin-left: 0px;
  margin-right: 55px;
}

.badge-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-spacing p {
  font-size: 1.875rem;
  margin-top: 0px;
  margin-bottom: 11px;
}

.project-spacing div:nth-child(3) {
  font-size: 1.125rem;
  text-align: justify;

  flex: 1;
}

.project-spacing div:nth-child(4) {
  display: flex;
  justify-content: space-between;
}

.projects input[type="button"] {
  color: #b5e48c;
  background-color: #184e77;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;

  width: 201px;
  height: 57px;

  padding: 13px 25px;

  border-radius: 15px;

  border: 0px;
}

footer {
  color: #e4e4e4;
  background-color: #1e6091;
  display: flex;
  height: auto;
}

footer > div {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

footer div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
  margin-top: 20px;
}

.contact ul {
  display: flex;
  justify-content: right;
  padding: 0px;
}
.contact li {
  margin-left: 10px;
}

footer p {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 10px;
}

.copyrights {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
}
